@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@value primaryColor: #b1b2ff;
@value secondaryColor:#aac4ff;
@value tertiaryColor:#eef1ff;

.header {
  width: 100%;
  height: 600px;
  color: primaryColor;
  box-shadow: 0 5px 10px tertiaryColor;
  display: flex;
  align-items: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/benner_img.jpg");
  background-size: cover;
  clip-path: circle(60% at left 300px);
  z-index: 1;
}
.header_left {
  z-index: 2;
}
.header_left h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 35px;
  font-family: "Lato", sans-serif;
}

.header_right {
  position: absolute;
  top: 10px;
  right: 150px;
  text-align: center;
}
.header_right h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.header_right img {
  margin-top: 30px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, #0005);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  outline: none;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: 700;
  color: primaryColor;
  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 5px tertiaryColor;
}
.search button {
  outline: none;
  border: 0;
  width: 50px;
  height: 35px;
  background-color: primaryColor;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.main {
  background-color: #aac4ff;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 30px;
  box-sizing: border-box;
  justify-content: center;
}
